*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;   /*ye nav ke diff boxes ko align krega*/
    align-items: center;  /*vertical alignment*/
    justify-content: space-evenly;
}

/* 1st box  */
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(img/logo.webp);
    background-size: cover;
    height: 50px;
    width: 100%;
}

/* .border{
    border: 2px solid transparent;
} */

.border:hover{
    border: 1.2px solid white;
}

/* 2nd box */

.add-1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}

.add-icon{
    display: flex;
    align-items: center;
}
.add-2{
    color: #ffffff;
    font: 1rem;
    margin-left: 1px;
    font-weight: 700;
}



/* 3rd box */
.nav-search{
    width: 440px;
    height: 40px;
    margin-left: 8px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    background-color: #febd68;
    border-radius: 4px;  
}

.nav-search:hover{
    border: 2px solid #febd68;
}
.search-select{
    color: #0f1111;
    height: 40px;
    width: 45px;
    background-color: #ececec;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 0.75rem;
}

.search-input{
    width: 100%;
    color: #0f1111;
    background-color: #ffffff;
    border: none;
    padding: 7px 10px 10px 10px;
    

}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0f1111;
    font-size: 1.3rem;
}

/* 4th box */

.nav-language{
    height:45px;
    width: 60px;
    padding: 5px 6px 5px 7px;
}
.language{
    height: 40px;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.flag{
    height:13px;
    width: 21px;
    background-image: url("img/flag.png");
    background-size: cover;
    margin-right: 2px;
}

.lan{
    height:15px;
    width: 18px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

/* 5th box  & 6th box*/
span{
    color: #cccccc;
    font-size: 0.82rem;
}

.p2{
    font-size: 1rem;
    font-weight: 700;
}

/* box 7th */
.cart{
    font-size: 1rem;
    font-weight: 700;
}
.cart-icon{
    font-size: large;
}


/* Panel */
.panel{
    color: #ffffff;
    background-color: #222f3d;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    font-size: 0.95rem;
    font-weight: 600;
}
.panel-ops{
    width: 70%;
}
.panel-ops p{
    display: inline;
    margin-right: 30px;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.95rem;
    font-weight: 500;
}


/* hero section */
.hero-section{
    background-image: url("/img/hero.jpg");
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    width: 95%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 30px;
}
.hero-msg a{
    color: #007185;
}

/* shop section */

.shop-section{
    background-color: #e2e6e7;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 250px;
    width: 22%;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: white;
}
.box:hover{
    border: 1px solid black;
}

.content{
    margin: 10px ;
}

.box-img{
    height: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}

.cont p{
    font-size: 12px;
    color: #007185;
}


/* 3rd row */
.container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* grid-template-rows: 100px; ye row ki height ko define krega */
    gap: 15px;
    margin-right: 10px;
    
}
:root {
  --card-padding: 15px; /* Names hamesha '--' se shuru hote hain */
  --grid-gap: 15px;
}
.card {
    width: 100%;
    height: auto;
    padding: var(--card-padding);
    background: white;
    margin-left: 20px;  
}

.image-grid {   
    width: 100%;
    gap: var(--grid-gap);
}

.upper, .lower{
    width: 100%;
    display: flex;
    gap: var(--grid-gap);
}

.item{
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.img{
    min-width: 100%; 
    min-height: 100px;
    aspect-ratio: 1 / 1;   /* Image ko hamesha square rakhega, height likhne ki zarurat nahi */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.image-grid p{
    font-size: 0.85rem;
    margin-top: 5px;
}

/* footer */
.foot-p1{
    background-color: #37475a;
    height: 50px;
    color: white;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.foot-p2{
    height: 300px;
    display: flex;
    justify-content: space-around;
    color: #dddddd;
    background-color: #232f3e;
}

ul{
    margin-top: 40px;
}

ul p{
    font-weight: 600;
}

ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
}

.foot-p3{
    color: #dddddd;
    background-color: #232f3e;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 50px;
    width: 100px;
    background-image: url("img/bg.png");
    margin-right: 30px;
}


.foot-p4{
    color: white;
    background-color: #131A22;
    height: 70px;
    text-align: center;
}
.pages{
    padding-top:15px;
}
.pages a{
    color: #dddddd;
    margin-right: 30px;
    
    font-size: 0.85rem;
}
.cp{
    margin-top: 8px;
    font-size: 0.85rem;
}
